.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*
index.html
webview-ui/screen-1
webview-ui/screen-2
webview-ui/screen-3
